/* Шапка */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 95px 50px 100px;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 24.3px;
}

.nav-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.nav-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  text-transform: lowercase;
}

.nav-active {
  list-style: none;
}

.nav-link-active {
  text-decoration: none;
}

.header__logo {
  justify-self: flex-end;
}

.address-tel,
.address-email {
  border-bottom: 1px solid;
  text-decoration: none;
}

/* Главный экран */

.hero {
  position: relative;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.hero__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.hero__element-1 {
  align-self: flex-start;
}

.hero__element-2 {
  align-self: center;
}

.hero__element-3 {
  align-self: flex-end;
}

.hero__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
}

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: Regular;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 90%;
}

.hero__text-space {
  letter-spacing: 90%;
}

.hero__button {
  position: relative;
  z-index: 2;
  border: #ffffff 1px solid;
  padding: 12px 32px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: Regular;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  all: unset;
}

/* Лоты */

.lots {
  padding: 0 25px;
}

.lots__title {
  margin: 0 0 27px 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__item-1 {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.lots__item-2 {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.lots__item-3 {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  padding: 48px 40px;
}

.lots__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__name {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.lots__description {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 120%;
}

.lots__link {
  margin: 30px auto 118px 40px;
  border-bottom: black 1px solid;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 100%;
  text-decoration: none;
  text-transform: lowercase;
}

/* Об аукционе */

.about {
  display: grid;
  grid-template-columns: 240px auto;
  gap: 0 72px;
  margin-top: 136px;
  padding: 35px 24px 0 71px;
}

.about__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__title {
  align-self: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
}

/* Подвал */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  padding: 0 50px 82px;
}

.address--footer {
  justify-self: flex-start;
}

.nav--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.nav-link {
  border-bottom: black 1px solid;
  text-decoration: none;
}

.nav-link-active {
  border: none;
}

.footer__list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}
